<style>
    #chart_container {
            position: relative;
            font-family: Arial, Helvetica, sans-serif;
    }
    #chart {
            position: relative;
            left: 40px;
    }
    #y_axis {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 40px;
    }
</style>

<div id="chart_container">
        <div id="y_axis"></div>
        <div id="chart"></div>
</div>

<div id="chart_container_extras">
        <input type="checkbox" ng-model="trend" />Trend
</div>