<br /><br /><br />
<h1>Top Domains</h1>

<div class="row row-offcanvas row-offcanvas-right">
    <p>Start and end date are required. Data does not necessarily include all DOI resolutions accurately and due to browser privacy settings may not be complete. Resolutions may include non-CrossRef DOIs.</p>

    <form>
      <div class="form-group">
        <label for="start-date">Start and end date</label>
        <div class="row">
          <div class="col-xs-2">
            <input type="text" class="form-control" ng-model="startDate" data-date-format="yyyy-MM-dd"  data-date-type="string" data-max-date="{{endDate}}" data-autoclose="1" placeholder="From" bs-datepicker>
          </div>
          <div class="col-xs-2">
            <input type="text" class="form-control" ng-model="endDate" data-date-format="yyyy-MM-dd"  data-date-type="string" data-min-date="{{startDate}}" data-autoclose="1" placeholder="Until" bs-datepicker>
          </div>
        </div>
      </div>
     
      <div class="form-group">
        
        <div class="row">
          
          <div class="col-xs-2">
          <label for="group-method">Subdomain display</label>
            <select class="form-control" id="group-method" name="group-method" ng-model="subdomainMethod">
              <option selected="selected" value="none">None</option>
              <option selected="selected" value="all">Subdomains</option>
  <!--             <option selected="selected" value="year">Subdomains per year</option>
              <option selected="selected" value="month">Subdomains per month</option>
              <option selected="selected" value="day">Subdomains per day</option> -->
            </select>

          </div>
          <div class="col-xs-2">
          <label for="page-number">Page</label>
            <input type="text" class="form-control" id="page-number" ng-model="pageNumber" />
        </div>
      </div>
    </form>
</div>


<div class="row row-offcanvas row-offcanvas-right">
<!-- For domain only -->
    <div ng-show="subdomainMethod=='none'" ng-repeat="domain in data">
        <p class="lead">{{domain["full-domain"]}} {{domain.count}}</p>
    </div>
 
<!-- For subdomains. -->
    <div ng-show="subdomainMethod=='all'" ng-repeat="domain in data">
        <p class="lead">{{domain.domain['full-domain']}} {{domain.domain.count}}</p>

        <table>
        <tr ng-repeat="subdomain in domain.subdomains">
        <td>{{subdomain['full-domain']}}</td><td>{{subdomain.count}}</td>
        </tr>
        </table>
        <br /><br />
    </div>
</div>

